.t-l-list{
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 1;
    li{
        height: 100px;
        width: 100%;
        margin-top: 2px;
        // background-color: red;
        border-bottom: 1px dotted rgb(180, 180, 180);
        position: relative;
        padding: 10px;
        .name,.type,.story{
            font-size: 12px;
            display: block;
            float: left;
        }
        .type{
            position: absolute;
            top: 30px;
        }
        .story{
            overflow: hidden;;
            width: 60%;
            height: 24px;
            position: absolute;
            bottom: 20px;
            line-height: 12px;
            color: rgb(180, 180, 180);
        }
        img{
            width: 80px;
            height: 80px;
            float: right;

        }
    }
}




